[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
mlflow = "*"
scikit-learn = "*"
pandas = "*"
optuna = "*"
boto3 = "*"
torch = "*"
prefect = "*"

[dev-packages]

[requires]
python_version = "3.9"
